<!DOCTYPE html>
<html>
    <head>
       <title>Tech Blog</title>

       <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!-- OthestyleCSS link -->
       <link rel="stylesheet" href="/css/otherstyle.css">

       <!-- Bootstrap CDN link -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

       <!-- Style CSS link -->
       <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Top navigation and title -->
        <div class="bg-info mb-4">
            <nav class="navbar p-4 justify-content-start">
                <a href="/" target="_blank" class="pr-4"><u>Home</u></a>
                <a href="/dashboard" target="_blank" class="pr-4"><u>Dashboard</u></a>
                <a href="/login" class="text-white"><u>Log In</u></a>
            </nav>
            <header>
                <h1 class="text-white w-100 px-4 pb-3">Serhiy's Tech Blog</h1>
            </header>
        </div>

        <!-- Main section  -->
        <main>
            {{{body}}}
        </main>

        <!-- Footer -->
        <footer class="bg-dark p-2 mt-5">
            <h4 class="text-white text-center">&copy; 2023 Serhiy Zvedenyuk</h4>
        </footer>
    </body>
</html>