<div class="row px-2 px-sm-5 justify-content-center">
    <div class="col-12 col-md-10">
        <h3>Your Posts</h3>
    </div>
</div>

{{#each posts as |post|}}
{{> edit-summaries}}
{{/each}}

<div class="row px-2 px-sm-5 justify-content-center">
    <div class="col-12 col-md-10">
        <a href="/dashboard/new-post"><button class="btn btn-dark w-75 mt-3"><h5>+ New Post</h5></button></a>
    </div>
</div>