<div class="row px-2 px-sm-5 justify-content-center">
    <div class="col-12 col-md-10">
        <div class="my-3 card shadow-sm rounded">
            <div class="card-header bg-secondary text-white d-flex justify-content-between">
                <h2 class="card-title">Create Your Account</h2> 
            </div>
            <form id="signup" class="p-3">
                <div class="form-group">
                    <label for="signupUsername">Username</label>
                    <input type="text" class="form-control" id="signupUsername" placeholder="Create username" required>
                </div>
                <div class="form-group">
                    <label for="signupEmail">Email address</label>
                    <input type="email" class="form-control" id="signupEmail" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="signupPassword">Password</label>
                    <input type="password" class="form-control" id="signupPassword" placeholder="Create password" required>
                    <small class="form-text text-muted">Password must be minimum 8 characters long</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p class="px-3">Already have an account? <a href="/login">Log in</a>.</p>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>