body {
    min-height: 100vh;
}

nav a {
    color: #fff;
    font-size: 24px;
}

.post-link:hover {
    text-decoration: none;
}

.post-link:hover .card {
    opacity: 0.75;
}

.card {
    color: #000;
}

.hide {
    display: none;
}

#new-comment {
    margin-bottom: 150px;
}