main {
    min-height: calc(100vh - 260px);
}

header {
    width: fit-content;
}

header a:hover {
    text-decoration: none;
}

nav a {
    font-size: 24px;
    transition: opacity 0.5s;
}

nav a:hover {
    opacity: 0.5;
}

.fa-check-square {
    color: green;
}

.post-link:hover {
    text-decoration: none;
}

.post-link:hover .card {
    opacity: 0.75;
}

.card {
    color: #000;
}

.hide {
    display: none !important;
}

.dark-green {
    background-color: #027c02;
}

.teal {
    background-color: rgb(5, 130, 202);
}

.reveal {
    cursor: pointer;
    float: right;
    margin: -25px 15px 0;
    position: relative;
    z-index: 2;
}

#logout {
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 32px;
    }

    footer h4 {
        font-size: 18px;
    }

    .card-header {
        flex-direction: column;
    }

    .card-header h2 {
        font-size: 1.5em;
    }

    .card-header h3 {
        font-size: 1.25em;
    }

    .card-header h4 {
        font-size: 1.125em;
    }
}

@media only screen and (max-width: 400px) {
    h1 .fas {
        display: none;
    }

    nav a {
        font-size: 20px;
    }
}